.menu-icon-mob{
    background-image: url(../assest/logos/bars-solid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
}

.menu-mob{
    position: absolute;
    top: 2vw;
    left: 2vw;
    z-index: 100;
}